.header--container {
  margin-bottom: 1.5rem;

  .city {
    font-size: 2.5rem;
    font-weight: 500;
  }
}

.main--container {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  padding: 3rem 1rem 2em 1rem;
  margin-bottom: 2.5rem;

  .big--container {
    position: relative;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-inline: 0.5rem;

    .tempDesc {
      display: flex;
      flex-direction: column;
      padding-top: 3.8rem;
      padding-left: 1rem;
    }

    .temp {
      font-size: 3rem;
      font-weight: 500;

      .celcius {
        font-size: 2.2rem;

        &__degree {
          font-size: 1.6rem;
        }
      }
    }

    .desc {
      font-weight: 400;
    }
  }

  .small--container {
    position: relative;
    display: flex;
    justify-content: space-around;
    gap: 1rem;

    .details {
      &__humid {
        margin-left: -1.5rem;
      }
    }
  }

  .image {
    width: 3.5rem;
  }
}
