.image--big {
  width: 15rem;
  height: 15rem;

  &.fix-move-down {
    padding-top: 2rem;
  }
}

// I totally forgot about border box when styling theese fixes
.image--medium {
  width: 8rem;
  padding: 1rem;

  &.fix-make-bigger {
    padding: 0rem;
  }
}
.image--small {
  width: 3rem;
  padding: 0.2rem;

  &.fix-make-bigger {
    padding: 0rem;
  }
}
