.image--big {
  width: 15rem;
}
.image--medium {
  width: 10rem;
}
.image--small {
  width: 3rem;
}

//TODO make the daily box adjustmenst for sun (plus make also for moon) in here and not in there please
/*
img {
      width: 7rem;
      padding: 1rem;
    }

    &.sun-make-smaller img {
      width: 8rem;
      padding: 0rem;
    }
*/
